
<h1>Log In</h1>
<center>
<div class="container">
<img src="http://www.thealphanetworld.com/images/logo.png" width="150" height="30"><br>
<i><center><font color="red"><p class="alert"><%= flash[:error] %></p></font></center></i>
<%= form_tag '/login' do %>
  <div class='field'>
  <%= label_tag :username %><br />
  <%= text_field_tag :username,"", :class=> 'box',:placeholder=>'Username' %><br /><br />
  </div>
  <div class='field'%>
  <%= label_tag :password %><br />
  <%= password_field_tag :password,"", :class=> 'box',:placeholder=>'Password' %><br /><br />
  </div>
  <%= submit_tag 'Login', class: 'btn btn-success' %>
<% end %>

</center>
</div>





