<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @reservation.product %>
</p>

<p>
  <strong>Product:</strong>
  <%= @reservation.product_id %>
</p>


<p>
  <strong>User ID:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @reservation.quantity %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
