<center>
<div class="container">
<strong>Name:</strong>
<%=@product.name%><br>


<strong>Suggested Retail Price:</strong>
<%=@product.srp%><br>


<strong>Retail Price:</strong>
<%=@product.retail_price%><br>


<strong>Distributor Price:</strong>
<%=@product.distributor_price%><br>


<strong>Number of Stock:</strong>
<%=@product.num_stock%><br>



<strong>Reserved:</strong>
<%=@product.reserved%><br>

<strong>Product Image:</strong>
<%=@product.image%><br>










<a href="/adminProduct"> Back to Main </a><br>

</div>
</center>


