<!DOCTYPE html>
<html>
<head>
  <title>Nworld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Her Designs</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  
  <link rel="shortcut icon" href="assets/nworld.ico" type="image/x-icon">
<link rel="icon" href="assets/nworld.ico" type="image/x-icon">
</head>
<body>


 <div class="header">
      <div>
       <!-- <a href="/homepage" id="logo"><img src="assets/logo.png" alt="logo"/></a>-->
		
		<span class="navbar-brand"><img src="/assets/logo.png" width="130" height="26"></span>
      </div>
      <div id="navigation">
        <ul>
           <li ><a href="/homepage">Home <span class="sr-only">(current)</span></a></li>
          <li ><a href="/about">About <span class="sr-only">(current)</span></a></li>
          <li ><a href="/product">Products <span class="sr-only">(current)</span></a></li>
		  
		  
          <% if logged_in? %>
          <li><a href="/profile"><%= current_user.first %> <%= current_user.last %></a></li>
          <li> <%= link_to "Edit Profile", "/users/#{current_user.id}/edit", :class => ''  %>  <li>
          <li> <%= link_to "Logout", "/logout", :class => ''  %>  <li>
          <% else %>
          <li> <%= link_to "Sign up", "/register", :class => ''  %>  </li>
          <li><%= link_to "Login", "/login", :class => ''  %> </li>
          <% end %>
		  
		  
        </ul>
       </div>
     </div> 


    <%= yield %>
	
	</body>
  <!--  <br><br><br><br>
    <center>
    <div class="#">
      <p>&#169; 2017 Nlighten. All Rights Reserved.</p>
    </div>
	</center>   -->
	
	<br><br<br><br><br>	<br><br<br><br><br>	<br><br<br><br><br>	<br><br<br><br><br>
	
	
	<!--start-->
	
	<div class="footer"> 
            <div class="row">
                <div class="col-lg-12">
              <p>&#169; 2017 Nlighten. All Rights Reserved.</p>
                </div>
				 </div> 
	
	
	<!---end-->
	
	
	
	</html>
	
	
	
	